.initiatives {
	padding-top:20px;
}

h1 {
	padding-top:50px;
	font-family:"Open Sans";
	color: rgb(47,28,58);
	font-size:2em;
	padding-bottom:50px;
	text-transform:uppercase;
}

h2 {
	font-family:"Open Sans";
	color:rgb(96,8,62);
	font-size:1.2em;
	padding:10px 0px 30px 0px;
	font-style:italic;
}

h3 a{
	font-family:"Open Sans";
	font-size:0.8em;
	padding:0px 0px 10px 0px;
	text-decoration:none;
	color:rgb(96,8,62);
	font-style:italic;
}

.writeUp {
	font-family: freight-text-pro, serif;
	line-height:1.5;
	font-size:21px;
	grid-area:main;
	padding-top:50px;
}

.writeUp p{
	padding-bottom:2%;
}